body {
  font-family: 'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.hero-container {
  background-image: url(https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-size: 100vw; */
  color: white;
}

.hero-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 10px 50px;;
  background-color: #212529;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}


.logo {
  font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
  color: #fed136;
  font-size: 20px;
}

.horizontal-menu {
  display: none;
}

.horizontal-menu li {
  display: inline-block;
  margin: 3px 10px;
}
/* ============================ VERTICAL MENU ============================ */
.vertical-menu {
  /* height: 60px; */
  /* background-color: blue; */
}

.vertical-menu li {
  /* margin: 20px; */
  list-style-type: none;
  /* font-size: 20px; */
}

.vertical-menu-show li{
  /* height: 300px; */
  /* border: blue solid 1px; */
  font-size: 15px;
  margin: 20px;
  animation-name: show-font;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.vertical-menu-hide li{
  /* height: 0px; */
  font-size: 0px;
  margin: 0px;
  animation-name: hide-font;
  animation-duration: .5s;
  animation-iteration-count: 1;
  /* border: blue solid 1px; */
}

.slide-menu-up {
  /* height: 80px; */
  width: 100%;
  background-color: #212529;
  position: fixed;
  top: 54px;
  height: 0px;
  
  animation-name: slide-close;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}


.slide-menu-down {
  width: 100%;
  background-color: #212529;
  position: fixed;
  top: 54px;
  height: 200px;
  animation-name: slide-open;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
/* ======================================================== */
.hero-content > * {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 90%;
  padding-top: 150px;
  padding-bottom: 100px;
}

.hero-greeting-text {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  font-family: 'Droid Serif','Times New Roman', Times, serif;
  margin-bottom: 25px;
}

.hero-compliment-text {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-bottom: 25px;
}

.testPanel {
  height: 900px;
  background-color: aqua;
}
/* ========================== BUTTON ============================ */
.site-menu-btn {
  padding: 10px;
}
.tell-more-btn {
  padding: 20px 40px;
  font-size: 18px;
  margin: auto;
}

.yellow-btn {
  background-color: #fec810;
  color: white;
  border-radius: 4px;
  border: none;
}

.bold-btn-txt {
  font-weight: bold;
}

@media (min-width: 992px) {
  .site-menu-btn {
    display: none;
  }
  .horizontal-menu {
    display: initial;
  }
  .hero-header div {
    padding: 20px 0;
    width: 80%;
    left: 10%;
    background-color: transparent;
  }

  .hero-content > * {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  .hero-greeting-text {
    font-size: 40px;
    line-height: 40px;
  }
  
  .hero-compliment-text {
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}

@keyframes slide-open {
  0% {
    height: 0;
    font-size: 0;
  }
  100%{
    height: 200px;
    font-size: 20px;
  }
}

@keyframes slide-close {
  0% {
    height: 300px;
    font-size: 20px;
  }
  100%{
    height: 0px;
    font-size: 0px;
    /* display: none; */
  }
}

@keyframes show-font {
  0% {
    font-size: 0;
    margin: 0 20px;
  }
  100%{
    font-size: 15px;
    margin: 20px
  }
}

@keyframes hide-font {
  0% {
    font-size: 15px;
    margin: 20px;
  }
  100%{
    font-size: 0px;
    margin: 0px 20px;
    /* display: none; */
  }
}